{{- range .Params.content -}}
  {{- $anchor := anchorize .title -}}
  <div class="Cheat-Sheet--chapter">
    <h2 id="{{ $anchor }}">{{ .title }} <a href="#{{ $anchor }}" class="anchor" aria-hidden="true">#</a></h2>
    {{- if eq .frontline true }}&nbsp;<span class="badge alert-enterprise pull-right">Gatling Enterprise only</span>{{ end -}}
    {{ if .description }}<p>{{ .description }}</p>{{ end }}
    {{- range .sections -}}
      {{- $sanchor := printf "%s-%s" $anchor (anchorize .title) -}}
      <div class="Cheat-Sheet--section">
        <h3 id="{{ $sanchor }}">{{ .title }} <a href="#{{ $sanchor }}" class="anchor" aria-hidden="true">#</a></h3>
        {{ partial "cheat-sheet/functions.html" . }}
        {{- range .subsections -}}
          <div class="Cheat-Sheet-subsection">
            {{- $ssanchor := printf "%s-%s" $sanchor (anchorize .title) -}}
            <h4 id="{{ $ssanchor }}">{{ .title }} <a href="#{{ $ssanchor }}" class="anchor" aria-hidden="true">#</a></h4>
            {{ if .description }}<p>{{ .description }}</p>{{ end }}
            {{ partial "cheat-sheet/functions.html" . }}
          </div>
        {{- end -}}
      </div>
    {{- end -}}
  </div>
{{- end -}}
