<div class="page-links">
  <h3>On this page</h3>
  <nav id="TableOfContents">
    <ul>
      {{- range .Params.content -}}
      {{- $anchor := anchorize .title -}}
      <li>
        <a href="#{{ $anchor }}">{{ .title }}</a>
        <ul>
          {{- range .sections -}}
            {{- $sanchor := printf "%s-%s" $anchor (anchorize .title) -}}
            <li><a href="#{{ $sanchor }}">{{ .title }}</a></li>
          {{- end -}}
        </ul>
        {{- end -}}
      </li>
    </ul>
  </nav>
</div>
