{{ $currentPage := . -}}

{{- $path := split .CurrentSection.File.Dir "/" -}}
{{- $menu := printf "%s" (delimit (first 2 $path) "-") -}}

{{ $nestedCategoryEntries := eq (len .Parent.Sections) 0 }}
{{ $sectionPages := where site.RegularPages "Section" .Section -}}

{{ $pages := slice }}
{{ if $nestedCategoryEntries }}
  {{ $pages = where $sectionPages ".Parent.Parent.File.Dir" "eq" .Parent.Parent.File.Dir }}
  {{ $pages = append $pages (where $sectionPages ".Parent.File.Dir" "eq" .Parent.Parent.File.Dir) }}
{{ else }}
  {{ $pages = where $sectionPages ".Parent.Parent.File.Dir" "eq" .Parent.File.Dir }}
  {{ $pages = append $pages (where $sectionPages ".Parent.File.Dir" "eq" .Parent.File.Dir) }}
{{ end }}

{{ $menu := newScratch }}
{{ $menuEntries := newScratch }}
{{ range $pages }}
  {{ $menu.Add .Parent.Title (slice .) }}
  {{ $menuEntries.SetInMap "entries" .Parent.Title .Parent.URL }}
{{ end }}

{{ $entries := $menuEntries.Get "entries" }}
{{ range $key, $value := $entries }}
  <h3>
    <a href="{{ $value | absURL }}">{{ $key }}</a>
  </h3>
  <ul class="list-unstyled">
    {{ range $menu.Get $key }}
      {{ $active := eq $currentPage . }}
      <li>
        <a class="docs-link{{ if $active }} active{{ end }}" href="{{ .URL | absURL }}">{{ .Name }}</a>
      </li>
    {{ end -}}
  </ul>
{{ end }}
