{{ $currentPage := . -}}

{{- $path := split .CurrentSection.Dir "/" -}}
{{- $menu := printf "%s" (delimit (first 2 $path) "-") -}}

{{ if isset .Site.Menus $menu -}}
  {{ range (index .Site.Menus $menu) -}}
    <h3>{{ .Name }}</h3>
      {{ if .HasChildren -}}
      <ul class="list-unstyled">
        {{ range .Children -}}
          {{- $active := or ($currentPage.IsMenuCurrent $menu .) ($currentPage.HasMenuCurrent $menu .) -}}
          {{- $active = or $active (eq $currentPage.Section .Identifier) -}}
          <li><a class="docs-link{{ if $active }} active{{ end }}" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
        {{ end -}}
      </ul>
    {{ end -}}
  {{ end -}}
{{ end -}}
