<meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#212529">
<link rel="icon" href="{{ strings.TrimRight "/" .Site.BaseURL }}/favicon.ico" sizes="96x96">
<link rel="apple-touch-icon" href="{{ strings.TrimRight "/" .Site.BaseURL }}/favicon.ico">
<meta name="msapplication-TileImage" content="{{ strings.TrimRight "/" .Site.BaseURL }}/favicon.ico">
<link rel="manifest" crossorigin="use-credentials" href="{{ "site.webmanifest" | absURL }}">
