{{ if eq .Kind "404" -}}
  <meta name="robots" content="noindex, follow">
{{ else -}}
  {{ with .Params.robots -}}
  <meta name="robots" content="{{ . }}">
  {{ else -}}
    {{ if or (eq .Site.Params.private true) (eq .Params.private true) (eq .Params.sitemap_exclude true) -}}
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="bingbot" content="noindex, nofollow">
    {{ else -}}
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    {{ end -}}
  {{ end -}}
{{ end -}}

{{ if eq .Kind "404" -}}
  <title>404 Page not found - Gatling Documentation</title>
{{ else -}}
  {{- if not (isset .Params "title" ) -}}
    {{- errorf "[%s] TITLE_NOT_FOUND: title not found in file %q" .Language .File.Path -}}
  {{- end -}}
  <title>{{ default .Title .Params.seotitle }}</title>
{{- end }}

{{ with .Description -}}
  <meta name="description" content="{{ . }}">
{{ else -}}
  <meta name="description" content="{{ .Site.Params.description }}">
{{ end -}}

{{ with .Keywords -}}
  {{ $keywords := delimit . ", " -}}
  <meta name="keywords" content="{{ $keywords }}">
{{ end -}}

<link rel="canonical" href="{{ .Permalink }}">

{{ partial "head/twitter_cards.html" . }}
<meta name="twitter:site" content="@{{ .Site.Params.twitterSite }}">
<meta name="twitter:creator" content="@{{ .Site.Params.twitterCreator }}">

{{ partial "head/opengraph.html" . }}
<meta property="article:publisher" content="https://www.facebook.com/{{ .Site.Params.facebookPublisher }}">
<meta property="article:author" content="https://www.facebook.com/{{ .Site.Params.facebookAuthor }}">
<meta property="og:locale" content="{{ .Site.Params.ogLocale }}">

{{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

{{ if ne .Site.Params.private true -}}
{{ partial "head/structured-data.html" . }}
{{- end }}
