{{ if eq .Kind "404" -}}
  <meta name="robots" content="noindex, follow">
{{ else -}}
  {{ with .Params.robots -}}
  <meta name="robots" content="{{ . }}">
  {{ else -}}
    {{ if eq .Params.sitemap_exclude true -}}
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="bingbot" content="noindex, nofollow">
    {{ else -}}
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    {{ end -}}
  {{ end -}}
{{ end -}}

{{/*
  Home page  : site title
  if section : section title
  if page    : section title - page title
*/}}
<title>
{{- if .IsHome -}}
  {{ .Site.Params.Title }}
{{- else -}}
  {{ $menu := (.Scratch.Get "menu") }}
  {{- if $menu -}}
    {{- $section := (.Site.GetPage $menu.ConfiguredURL) -}}
    {{- $section.Title -}}
    {{- if (and (ne .Page $section) (ne .Title "")) -}}
        {{- printf " - %s" .Title -}}
    {{- end -}}
  {{- else -}}
    {{- .Title -}}
  {{- end -}}
{{- end -}}
</title>


{{ with .Description -}}
  <meta name="description" content="{{ . }}">
{{ else -}}
  <meta name="description" content="{{ .Site.Params.description }}">
{{ end -}}

{{ if ne .Parent nil -}}
  {{ if (isset .Parent.Params "version") -}}
    {{- $url := .Permalink | absURL -}}
    {{- if in $url (printf "reference/%s" .Parent.Params.version) -}}
      {{- $url = replace $url (.Parent.Params.version) "current" 1 -}}
    {{- end -}}
    <link rel="canonical" href="{{ $url }}">
  {{ end -}}
{{ else -}}
  <link rel="canonical" href="{{ .Permalink }}">
{{ end }}

{{ partial "head/twitter_cards.html" . }}
<meta name="twitter:site" content="@{{ .Site.Params.twitterSite }}">
<meta name="twitter:creator" content="@{{ .Site.Params.twitterCreator }}">

{{ partial "head/opengraph.html" . }}
<meta property="article:publisher" content="https://www.facebook.com/{{ .Site.Params.facebookPublisher }}">
<meta property="article:author" content="https://www.facebook.com/{{ .Site.Params.facebookAuthor }}">
<meta property="og:locale" content="{{ .Site.Params.ogLocale }}">

{{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

{{ partial "head/structured-data.html" . }}
