
{{- $root := .Site.Home -}}
{{- $section := .FirstSection.Title -}}

{{- $sections := slice -}}
{{- if isset $root.Params "ordering" -}}
  {{- range $root.Params.ordering -}}
    {{- $page := $root.GetPage . -}}
    {{- if not $page -}}
      {{- errorf "%s: page %s not found in ordering parameter" $root.File . -}}
    {{- end -}}
    {{- $sections = $sections | append $page -}}
  {{- end -}}
{{- else -}}
  {{- $sections = $root.Sections.ByWeight -}}
{{- end -}}

{{- .Scratch.Set "sections" $sections -}}
{{- .Scratch.Set "section" $section -}}
{{- .Scratch.Set "root" $root -}}
