
{{- $pages := slice -}}
{{- range (.Scratch.Get "sections") -}}
  {{- $pages = $pages | append (where .RegularPagesRecursive "Params.private" "ne" true) -}}
{{- end -}}
{{- $pages = $pages.ByWeight -}}
<div class="docs-navigation d-flex justify-content-between">
  {{ with $pages.Next . -}}
  <a href="{{ .Permalink }}">
    <div class="card my-1">
      <div class="card-body py-2">
        &larr; {{ .Title }}
      </div>
    </div>
  </a>
  {{ end -}}
  {{ with $pages.Prev . -}}
  <a class="ms-auto" href="{{ .Permalink }}">
    <div class="card my-1">
      <div class="card-body py-2">
        {{ .Title }} &rarr;
      </div>
    </div>
  </a>
  {{ end -}}
</div>
