/* General */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
	font-family: 'DM Sans', sans-serif;
	color: #646971;
	font-size: 15px;
	line-height: 24px;
}

body.dark {
    background: #212529;
}

h1, h2, h3, h4, h5, h6 {
	color: #1F2024;
	font-family: 'DM Sans', sans-serif;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
	color: #fff; 
}


/* Default */

a, 
a.docs-link,
.docs-link:hover, 
.docs-link.active, 
.page-links a:hover, 
a.docs-link:hover, 
body.dark .docs-link:hover, 
body.dark .docs-link.active, 
body.dark .page-links a:hover {
    color: #646971;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

body.dark a {
  color: #aaa;
}

/* Home */

.home-section h1 {
  font-size: 30px;
  line-height: 40px;
}
.home-section .btn-orange {
  margin-right: 10px;
}

/* OSS */

body.oss a:hover,
body.oss.dark a:hover,
body.oss .docs-link:hover, 
body.oss .docs-link.active, 
body.oss .page-links a:hover, 
body.oss a.docs-link:hover, 
body.oss.dark .docs-link:hover, 
body.oss.dark .docs-link.active, 
body.oss.dark .page-links a:hover {
  color: #F78557;
  text-decoration: none;
}

/* Cloud */

body.cloud a:hover,
body.cloud.dark a:hover,
body.cloud .docs-link:hover, 
body.cloud .docs-link.active, 
body.cloud .page-links a:hover, 
body.cloud a.docs-link:hover, 
body.cloud.dark .docs-link:hover, 
body.cloud.dark .docs-link.active, 
body.cloud.dark .page-links a:hover {
  color: #6161D6;
  text-decoration: none;
}

/* Menu */

.header-bar {
    border-top: none;
}

.navbar {
  margin-top: 0 !important;
}

.navbar-brand .logo { 
  max-width: 200px;
  max-height: 25px;
}
.navbar-brand .logo.dark-logo {
  display: block;
}
.navbar-brand .logo.light-logo {
  display: none;
}
.dark .navbar-brand .logo.dark-logo {
  display: none;
}

.dark .navbar-brand .logo.light-logo {
  display: block;
}

.navbar .btn-link:hover, body.dark .navbar .btn-link:hover, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .banner .nav a:hover, .banner .nav .navbar-light .navbar-nav a:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .banner .nav a:focus, .banner .nav .navbar-light .navbar-nav a:focus,
body.dark .navbar-light .navbar-nav .nav-link:hover, body.dark .navbar-light .navbar-nav .banner .nav a:hover, .banner .nav body.dark .navbar-light .navbar-nav a:hover, body.dark .navbar-light .navbar-nav .nav-link:focus, body.dark .navbar-light .navbar-nav .banner .nav a:focus, .banner .nav body.dark .navbar-light .navbar-nav a:focus {
	color: #aaa;
}

.navbar-light .navbar-nav .active .nav-link, 
.navbar-light .navbar-nav .active .banner .nav a, 
.banner .nav .navbar-light .navbar-nav .active a {
    color: #fff;
    background: #6161D6;
    border-radius: 20px;
    padding:3px 10px;
    margin-top: 5px;
}
.navbar-light .navbar-nav .nav-oss.active .nav-link {
    background: #F78557;
}
.navbar-light .navbar-nav .nav-docs.active .nav-link {
    background: #24275E;
}

body.dark .navbar-light .navbar-nav .show > .nav-link, body.dark .navbar-light .navbar-nav .banner .nav .show > a, .banner .nav body.dark .navbar-light .navbar-nav .show > a, body.dark .navbar-light .navbar-nav .active > .nav-link, body.dark .navbar-light .navbar-nav .banner .nav .active > a, .banner .nav body.dark .navbar-light .navbar-nav .active > a, body.dark .navbar-light .navbar-nav .nav-link.show, body.dark .navbar-light .navbar-nav .banner .nav a.show, .banner .nav body.dark .navbar-light .navbar-nav a.show, body.dark .navbar-light .navbar-nav .nav-link.active, body.dark .navbar-light .navbar-nav .banner .nav a.active, .banner .nav body.dark .navbar-light .navbar-nav a.active {
	color: #fff;
}

/* Syntax Highlithing */

body.dark pre {
    background: #1b1f22;
    color: #dee2e6;
    border: solid 1px #3c3c3c;
}

/* Background */ .chroma { color: #272822; background-color: #fafafa }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #6161D6 }
/* KeywordConstant */ .chroma .kc { color: #6161D6 }
/* KeywordDeclaration */ .chroma .kd { color: #6161D6 }
/* KeywordNamespace */ .chroma .kn { color: #e9a83e }
/* KeywordPseudo */ .chroma .kp { color: #6161D6 }
/* KeywordReserved */ .chroma .kr { color: #6161D6 }
/* KeywordType */ .chroma .kt { color: #6161D6 }
/* Name */ .chroma .n { color: #111111 }
/* NameAttribute */ .chroma .na { color: #2dcb7f }
/* NameBuiltin */ .chroma .nb { color: #111111 }
/* NameBuiltinPseudo */ .chroma .bp { color: #111111 }
/* NameClass */ .chroma .nc { color: #2dcb7f }
/* NameConstant */ .chroma .no { color: #6161D6 }
/* NameDecorator */ .chroma .nd { color: #2dcb7f }
/* NameEntity */ .chroma .ni { color: #111111 }
/* NameException */ .chroma .ne { color: #2dcb7f }
/* NameFunction */ .chroma .nf { color: #2dcb7f }
/* NameFunctionMagic */ .chroma .fm { color: #111111 }
/* NameLabel */ .chroma .nl { color: #111111 }
/* NameNamespace */ .chroma .nn { color: #111111 }
/* NameOther */ .chroma .nx { color: #2dcb7f }
/* NameProperty */ .chroma .py { color: #111111 }
/* NameTag */ .chroma .nt { color: #e9a83e }
/* NameVariable */ .chroma .nv { color: #111111 }
/* NameVariableClass */ .chroma .vc { color: #111111 }
/* NameVariableGlobal */ .chroma .vg { color: #111111 }
/* NameVariableInstance */ .chroma .vi { color: #111111 }
/* NameVariableMagic */ .chroma .vm { color: #111111 }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #F78557 }
/* LiteralString */ .chroma .s { color: #F78557 }
body.dark code .s { color: #F78557 }
/* LiteralStringAffix */ .chroma .sa { color: #F78557 }
/* LiteralStringBacktick */ .chroma .sb { color: #F78557 }
/* LiteralStringChar */ .chroma .sc { color: #F78557 }
/* LiteralStringDelimiter */ .chroma .dl { color: #F78557 }
/* LiteralStringDoc */ .chroma .sd { color: #F78557 }
/* LiteralStringDouble */ .chroma .s2 { color: #F78557 }
/* LiteralStringEscape */ .chroma .se { color: #8045ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #F78557 }
/* LiteralStringInterpol */ .chroma .si { color: #F78557 }
/* LiteralStringOther */ .chroma .sx { color: #F78557 }
/* LiteralStringRegex */ .chroma .sr { color: #F78557 }
/* LiteralStringSingle */ .chroma .s1 { color: #F78557 }
/* LiteralStringSymbol */ .chroma .ss { color: #F78557 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: #e9a83e }
/* OperatorWord */ .chroma .ow { color: #e9a83e }
/* Punctuation */ .chroma .p { color: #111111 }
/* Comment */ .chroma .c { color: #75715e }
/* CommentHashbang */ .chroma .ch { color: #75715e }
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }
/* CommentSpecial */ .chroma .cs { color: #75715e }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu {  }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }

.dark .chroma .n,
.dark .chroma .nb,
.dark .chroma .bp,
.dark .chroma .fm,
.dark .chroma .ni,
.dark .chroma .nl,
.dark .chroma .nn,
.dark .chroma .py,
.dark .chroma .nv,
.dark .chroma .p,
.dark .chroma .vc,
.dark .chroma .vg,
.dark .chroma .vi,
.dark .chroma .vm { 
	color: #dee2e6; 
}

/* Alerts */

.alert {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.875rem;
    padding: 1.5rem 1rem 1.5rem 1.5rem;
    margin:25px 0;
}

.alert a,
body.dark .alert a {
	font-weight: 700;
	color: inherit;
}

.alert-icon {
  margin-right: 0.75rem;
}

.docs .alert {
  margin: 2rem -1.5rem;
}

.alert .alert-link {
  text-decoration: underline;
}

.alert-dark {
  color: white;
  background-color: #1F2024;
}

.alert-dark .alert-link {
  color: white;
}

.alert-light {
  color: #646971;
}

.alert-danger,
body.dark .alert-danger {
  border-left: .3em solid #cd3535;
  background-color: #cd353517;
  color: inherit;
}

.alert-danger::before {
	content: "";
    position: absolute;
    left: -0.85rem;
    top: 1.5rem;
    z-index: 3;
    padding: 0.75rem;
    transform-origin: 50% 50%;
    border-radius: 50%;
    background-color: #cd3535;
    background-image: url(./../images/info.svg);
    background-size: 12%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.alert-tip,
body.dark .alert-tip {
  border-left: .3em solid #2dcb7f;
  background-color: #2dcb7f1a;
  color: inherit;
}

.alert-tip::before {
    content: "";
    position: absolute;
    left: -0.85rem;
    top: 1.5rem;
    z-index: 3;
    padding: 0.75rem;
    transform-origin: 50% 50%;
    border-radius: 50%;
    background-color: #2dcb7f;
    background-image: url(./../images/info.svg);
    background-size: 12%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.alert-warning,
body.dark .alert-warning {
  border-left: .3em solid #4479e7;
  background-color: #4479e71c;
  color: inherit;
}

.alert-warning::before {
	content: "";
    position: absolute;
    left: -0.85rem;
    top: 1.5rem;
    z-index: 3;
    padding: 0.75rem;
    transform-origin: 50% 50%;
    border-radius: 50%;
    background-color: #4479e7;
    background-image: url(./../images/info.svg);
    background-size: 12%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.alert-white {
  background-color: #fafafa;
}

.alert-primary {
  color: white;
  background-color: #fafafa;
}

.alert-primary .alert-link {
  color: white;
}

/* Buttons */

.btn-primary,
body.dark .btn-primary {
	background-color: #24275E;
  border-color: #24275E;
  color: #fff !important;
}
.btn-check:focus + body.dark .btn-primary, body.dark .btn-primary:focus {
  color: #fff;
  background-color: #5050b9;
  border-color: #5050b9;
  box-shadow: none;
}
.btn-primary:hover,
body.dark .btn-primary:hover {
    color: #fff;
    background-color: #1C1E4A;
    border-color: #1C1E4A;
}

.btn-orange,
body.dark .btn-orange {
  background-color: #F78557;
  border-color: #F78557;
  color: #fff !important;
}
.btn-check:focus + body.dark .btn-orange, body.dark .btn-orange:focus {
  color: #fff;
  background-color: #cf724c;
  border-color: #cf724c;
  box-shadow: none;
}
.btn-orange:hover,
body.dark .btn-orange:hover {
    color: #fff;
    background-color: #cf724c;
    border-color: #cf724c;
}


.btn-purple,
body.dark .btn-purple {
  background-color: #6161D6;
  border-color: #6161D6;
  color: #fff !important;
}
.btn-check:focus + body.dark .btn-purple, body.dark .btn-purple:focus {
  color: #fff;
  background-color: #4c4ba9;
  border-color: #4c4ba9;
  box-shadow: none;
}
.btn-purple:hover,
body.dark .btn-purple:hover {
    color: #fff;
    background-color: #4c4ba9;
    border-color: #4c4ba9;
}

.highlight .btn-link {
    color: #fff;
    background: #6161D6;
    padding: 2px 6px;
    top: 0;
    right: 0;
    border-radius: 0 4px 0 0;
    transition: all 0.2s ease-out;
}
body.oss .highlight .btn-link {
    background: #F78557;
}
body.dark .content .btn-link,
body.dark .content .btn-link:hover {
	color: #fff;
}
.highlight .btn-link:hover {
    opacity: 0.8;
}
.cloud.single .highlight .btn-link {
	background: #6161D6;
}

/* Cards */

.card-list .card {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    box-shadow: 0px 10px 20px #0000001a;
    border: none;
    border-radius: 8px;
    transition: all 0.2s ease-out;
}
.card-list .card:hover {
	box-shadow: 0px 5px 5px #0000001a;
}

.card-list .card:before {
   font-family: "Font Awesome 5 Free";
   content: "\f105";
   position: absolute;
   top: 32px;
   right: 30px;
   font-weight: 900;
   font-size: 40px;
   opacity: 0.6;
   transition: all 0.2s ease-out;
}
.card-list .card:hover:before {
	color: #6161D6;
	opacity: 1;
}
body.oss .card-list .card:hover:before {
  color: #F78557;
  opacity: 1;
}

/* Lightbox */

#lightbox:before,
.lightbox img {
	cursor: pointer;
	transition: all 0.2s ease-out;
}
#lightbox:before:hover,
.lightbox img:hover {
	opacity: 0.8;
}
#lightbox {
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
#lightbox:before {
   font-family: "Font Awesome 5 Free";
   content: "\f00d";
   position: absolute;
   top: 32px;
   right: 30px;
   font-weight: 900;
   font-size: 30px;
   color:#fff;
}
#lightbox img {
    position: absolute;
    z-index: 1300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px 32px 32px 32px;
    max-width: 80%;
    max-height: 80%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 16px;
}