@import "swagger-ui-dist/swagger-ui";
@import "swagger-ui-dark";
@import "common/colors";

body.cloud .docs-content .swagger-ui,
body.enterprise .docs-content .swagger-ui {
  small > pre {
    background: initial;
  }

  .col-12 {
    width: 100%;
  }

  a {
    color: $black;
  }

  .info {
    margin: 0;


    & hgroup.main {
      margin: 0;

      & > .title > span {
        display: block;
        margin-top: 1rem;
      }
    }
  }

  .servers .computed-url {
    margin: 0;
  }

  h4 {
    margin: 1rem 0 0 0;
  }

  table {
    margin: 0;
  }

  .scheme-container {
    padding-top: 0;
    padding-right: 2px;
  }

  .auth-wrapper .authorize {
    margin-right: 0;
  }
}

[data-dark-mode] body.cloud .docs-content .swagger-ui,
[data-dark-mode] body.enterprise .docs-content .swagger-ui {

  a, h4 {
    color: $gray-300;
  }

  code {
    background: unset;
  }

  small {
    opacity: 0.8;
  }

  .renderedMarkdown code {
    color: unset;
  }

  table {
    color: $gray-300;
  }
}
