.home-section h1 {
  font-size: 30px;
  line-height: 40px;
}

.home-section .btn-purple {
  margin-left: 10px;
}

.home-section .home-cta {
  justify-content: center;
}

.btn-orange,
[data-dark-mode] body .btn-orange {
  background-color: #f78557;
  border-color: #f78557;
  color: #fff !important;
}

.btn-check:focus + [data-dark-mode] body .btn-orange,
[data-dark-mode] body .btn-orange:focus {
  background-color: #cf724c;
  border-color: #cf724c;
  box-shadow: none;
  color: #fff;
}

.btn-orange:hover,
[data-dark-mode] body .btn-orange:hover {
  background-color: #cf724c;
  border-color: #cf724c;
  color: #fff;
}

.btn-purple,
[data-dark-mode] body .btn-purple {
  background-color: #6161d6;
  border-color: #6161d6;
  color: #fff !important;
}

.btn-check:focus + [data-dark-mode] body .btn-purple,
[data-dark-mode] body .btn-purple:focus {
  background-color: #4c4ba9;
  border-color: #4c4ba9;
  box-shadow: none;
  color: #fff;
}

.btn-purple:hover,
[data-dark-mode] body .btn-purple:hover {
  color: #fff;
  background-color: #4c4ba9;
  border-color: #4c4ba9;
}
