.badge-danger {
  background-color: var(--bs-danger);
}

.badge-info {
  background-color: var(--bs-info);
}

.badge-light {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

.badge-secondary {
  background-color: var(--bs-secondary);
}


.badge-success {
  background-color: var(--bs-success);
}

.badge-warning {
  background-color: var(--bs-warning);
}

h1,
h2,
h3 {
  .badge {
    font-size: 0.5em;
    vertical-align: middle;
  }
}
