// normal badges

.badge-danger {
  background-color: var(--bs-danger);
}

.badge-info {
  background-color: var(--bs-info);
}

.badge-light {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

.badge-secondary {
  background-color: var(--bs-secondary);
}

.badge-success {
  background-color: var(--bs-success);
}

.badge-warning {
  background-color: var(--bs-warning);
}

// brand badges

.badge-oss {
  background-color: #f15b4f;
}

.badge-self-hosted {
  background-color: #8888d0;
}

.badge-cloud {
  background-color: #6161d6;
}

.badge-enterprise {
  background-color: #c4c4ed;
}

// overrides

h1,
h2,
h3,
h4,
h5,
h6 {
  .badge {
    font-size: 0.5em;
    vertical-align: middle;
  }
}

#TableOfContents .badge {
  vertical-align: text-bottom;
}
