.navbar .btn-link {
  color: $navbar-light-color;
  padding: 0.4375rem 0;
}

#mode {
  margin-right: 1.25rem;
}

.btn-link:focus {
  outline: 0;
  box-shadow: none;
}

#navigation {
  margin-left: 1.25rem;
}

@include media-breakpoint-up(md) {
  #mode {
    margin-right: 0.5rem;
  }

  .navbar .btn-link {
    padding: 0.5625em 0.25rem 0.5rem 0.125rem;
  }
}

.navbar .btn-link:hover {
  color: $navbar-light-hover-color;
}

.navbar .btn-link:active {
  color: $navbar-light-active-color;
}

body .toggle-dark {
  display: block;
}

body .toggle-light {
  display: none;
}

[data-dark-mode] body .toggle-light {
  display: block;
}

[data-dark-mode] body .toggle-dark {
  display: none;
}

.btn-clipboard {
  display: none;
}

@include media-breakpoint-up(md) {
  .btn-clipboard {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
  }
  .highlight:hover .btn-clipboard {
    display: block;
  }
}

.copy-status::after,
.copy-status:hover::after {
  content: "Copy";
  display: block;
}

.copy-status:focus::after,
.copy-status:active::after {
  content: "Copied";
  display: block;
}

// THEME UDPATE

.btn-primary,
[data-dark-mode] body .btn-primary {
  background-color: #24275e;
  border-color: #24275e;
  color: #fff !important;
}

.btn-check:focus + [data-dark-mode] body .btn-primary,
[data-dark-mode] body .btn-primary:focus {
  color: #fff;
  background-color: #5050b9;
  border-color: #5050b9;
  box-shadow: none;
}

.btn-primary:hover,
[data-dark-mode] body .btn-primary:hover {
  color: #fff;
  background-color: #1c1e4a;
  border-color: #1c1e4a;
}

.highlight .btn-link {
  color: #fff;
  background: #6161d6;
  padding: 2px 6px;
  top: 0;
  right: 0;
  border-radius: 0 4px 0 0;
}

body.gatling .highlight .btn-link {
  background: #f78557;
}

[data-dark-mode] body .content .btn-link,
[data-dark-mode] body .content .btn-link:hover {
  color: #fff;
}

.highlight .btn-link:hover {
  opacity: 0.8;
}

.cloud.single pre .btn-link {
  background: #6161d6;
}
