pre,
code,
kbd,
samp {
  font-family: $font-family-monospace;
  font-size: $font-size-sm;
  border-radius: $border-radius;
}

pre {
  background: #fafafa;
  color: $black;
  line-height: $line-height-base;
  margin: 2rem 0;
  overflow: auto;
  padding: 1.25rem 1.5rem;
  tab-size: 4;
}

code {
  background: #fafafa;
  color: $black;
  padding: 0.25rem 0.5rem;
}

pre code {
  background: none;
  font-size: inherit;
  padding: 0;
}

@include media-breakpoint-down(sm) {
  pre {
    margin: 2rem -1.5rem;
  }

  pre,
  code,
  kbd,
  samp {
    border-radius: 0;
  }
}

/* Code toggle */

.tab-button {
  background: transparent;
  border: none;
  border-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
  outline: none;
  padding: 0.625rem 0.75rem;
  position: relative;
  z-index: 1;

  &.active {
    background-color: #fafafa;
  }
}

[data-dark-mode] body .tab-button {
  color: #dee2e6;

  &.active {
    background: #1b1f22;
  }
}

.tab-content {
  .tab-pane {
    display: none;

    &.active {
      display: block;
    }

    pre {
      border-top-left-radius: 0;
      margin-top: 0;
    }
  }
}
