.embed {
  height: 0;
  padding-bottom: calc(52.23068552774755% + 41px);
  position: relative;
  width: 100%;

  & > iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}



