@mixin product($color) {
  a:hover,
  &.dark a:hover,
  .docs-link:hover,
  .docs-link.active,
  .page-links a:hover,
  a.docs-link:hover,
  &.dark .docs-link:hover,
  &.dark .docs-link.active,
  &.dark .page-links a:hover,
  article a,
  .docs-content a {
    color: $color;
  }

  .navbar-nav .active a {
    background: $color;
  }
}

/* Default */

body .card-list a {
  color: $gray-700 !important;
}

body.dark .card-list a {
  color: #aaa !important;
}

/* Gatling */

body {
  &.gatling {
    @include product(#f78557);
  }
  &.enterprise {
    @include product(#6161d6);
  }
  &.self-hosted {
    @include product(#6161d6);
  }
  &.cloud {
    @include product(#6161d6);
  }
}
