/* Default */

a,
a.docs-link,
.docs-link:hover,
.docs-link.active,
.page-links a:hover,
a.docs-link:hover,
body.dark .docs-link:hover,
body.dark .docs-link.active,
body.dark .page-links a:hover {
  color: #646971;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

body.dark a {
  color: #aaa;
}
/* OSS */

body.oss a:hover,
body.oss.dark a:hover,
body.oss .docs-link:hover,
body.oss .docs-link.active,
body.oss .page-links a:hover,
body.oss a.docs-link:hover,
body.oss.dark .docs-link:hover,
body.oss.dark .docs-link.active,
body.oss.dark .page-links a:hover {
  color: #F78557;
  text-decoration: none;
}

/* Cloud */

body.cloud a:hover,
body.cloud.dark a:hover,
body.cloud .docs-link:hover,
body.cloud .docs-link.active,
body.cloud .page-links a:hover,
body.cloud a.docs-link:hover,
body.cloud.dark .docs-link:hover,
body.cloud.dark .docs-link.active,
body.cloud.dark .page-links a:hover {
  color: #6161D6;
  text-decoration: none;
}
