@mixin product($name, $color) {
  body.#{$name} {
    a:hover,
    .docs-link:hover,
    .docs-link.active,
    .page-links a:hover,
    a.docs-link:hover,
    article a,
    .docs-content a {
      color: $color;
    }

    .navbar-nav .active a {
      background: $color;
    }
  }

  [data-dark-mode] body.#{$name} {
    a:hover,
    .docs-link:hover,
    .docs-link.active,
    .page-links a:hover {
      color: $color;
    }
  }
}

/* Default */

body .card-list a {
  color: $gray-700 !important;
}

[data-dark-mode] body .card-list a {
  color: #aaa !important;
}

/* Gatling */

@include product("gatling", #f78557);
@include product("enterprise", #6161d6);
@include product("self-hosted", #6161d6);
@include product("cloud", #6161d6);
