.youtube-embed {
  height: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  & > iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
