<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{ if eq .Kind "home" -}}
    {{ .Scratch.Set "class" "home" -}}
  {{ else if eq .Kind "404" -}}
    {{ .Scratch.Set "class" "error404" -}}
  {{ else if eq .Kind "page" -}}
    {{- $current := . -}}
    {{ range .Site.Menus.main -}}
      {{ if hasPrefix $current.File.Dir .ConfiguredURL -}}
        {{ $current.Scratch.Set "menu" . -}}
      {{ end }}
    {{ end }}
    {{ .Scratch.Set "class" (or (.Scratch.Get "menu").Identifier .Type) -}}
    {{ .Scratch.Add "class" " single" -}}
  {{ else -}}
    {{- $current := . -}}
    {{ range .Site.Menus.main -}}
      {{ if hasPrefix $current.File.Dir .ConfiguredURL -}}
        {{ $current.Scratch.Set "menu" . -}}
      {{ end }}
    {{ end }}
    {{ .Scratch.Set "class" .Type -}}
    {{ .Scratch.Add "class" (printf " %s" (.Scratch.Get "menu").Identifier ) -}}
    {{ .Scratch.Add "class" " list" -}}
  {{ end -}}
  {{ partial "head/head.html" . }}
  <body class="{{ .Scratch.Get "class" }}">
    {{ partial "header/header.html" . }}
    <div class="wrap container" role="document">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    {{ block "sidebar-prefooter" . }}{{ end }}
    {{ block "sidebar-footer" . }}{{ end }}
    {{ partial "footer/footer.html" . }}
    {{ if and .IsHome .Site.Params.alert }}
      {{ partial "footer/alert.html" . }}
    {{ end }}
    {{ partial "footer/script-footer.html" . }}

    <script>
      window.updateSearchVersion(
        {{ .Section }},
        {{ cond (isset .Params "version") (.Params.version | string) ("null" | safeJS) }},
        {{ cond (isset .Params "version") .Params.latest ("true" | safeJS) }}
      )
    </script>
  </body>
</html>
