<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div id="hs-eu-cookie-confirmation" class="hs-cookie-notification-position-bottom" style="display:none">
  <div id="hs-eu-cookie-confirmation-inner">
    <div id="hs-eu-policy-wording">This website stores cookies on your computer. These cookies are used to collect information about how you interact with our website and allow us to remember you. We use this information in order to improve and customize your browsing experience and for analytics and metrics about our visitors both on this website and other media. To find out more about the cookies we use, see our <a href="https://gatling.io/privacy" target="_blank">Privacy Policy.</a></div>
    <p id="hs-eu-cookie-disclaimer">If you decline, your information won’t be tracked when you visit this website. A single cookie will be used in your browser to remember your preference not to be tracked.</p>
    <div id="hs-en-cookie-confirmation-buttons-area">
      <a id="hs-eu-confirmation-button" role="button">Accept</a>
      <a id="hs-eu-decline-button" role="button">Decline</a>
    </div>
  </div>
</div>
