<div class="header-bar fixed-top"></div>
<header class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand order-1 order-md-0 me-auto" href="{{ .Site.BaseURL }}">
      <img class="dark-logo logo" src="{{ strings.TrimRight "/" .Site.BaseURL }}/{{ .Site.Params.Logos.Black }}" />
      <img class="light-logo logo" src="{{ strings.TrimRight "/" .Site.BaseURL }}/{{ .Site.Params.Logos.White }}" />
    </a>
    {{ if isset .Site.Params "product" -}}
    <span class="vr d-none d-md-block order-md-1"></span>
    <div class="navbar-text d-none d-md-block order-md-1 me-md-auto">{{ .Site.Params.product }}</div>
    <a target="_blank" class="navbar-link order-md-1 me-md-auto" href="/">
      docs.gatling.io <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </a>
    {{- end }}
    {{ if .Site.Params.docSearch -}}
    <div id="docSearch" class="d-none" tabindex="-1" aria-disabled="true"></div>
    <button type="button" id="docSearchToggle" class="btn btn-link order-2 order-md-2" aria-label="Search website">
      <span class="d-block d-sm-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="10" cy="10" r="7"></circle>
          <line x1="21" y1="21" x2="15" y2="15"></line>
        </svg>
      </span>
      <span class="d-none d-sm-block">
        <span class="docsearch-ask-ai">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" class="injected-svg" data-src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij4KICAgIDxwYXRoIGNsYXNzPSJmaWxsLWNvbG9yLTEiIGQ9Ik0xOSA5bDEuMjUtMi43NUwyMyA1bC0yLjc1LTEuMjVMMTkgMWwtMS4yNSAyLjc1TDE1IDVsMi43NSAxLjI1TDE5IDl6bS03LjUuNUw5IDQgNi41IDkuNSAxIDEybDUuNSAyLjVMOSAyMGwyLjUtNS41TDE3IDEybC01LjUtMi41ek0xOSAxNWwtMS4yNSAyLjc1TDE1IDE5bDIuNzUgMS4yNUwxOSAyM2wxLjI1LTIuNzVMMjMgMTlsLTIuNzUtMS4yNUwxOSAxNXoiLz4KPC9zdmc+" xmlns:xlink="http://www.w3.org/1999/xlink" role="img">
            <path class="fill-color-1" d="M19 9l1.25-2.75L23 5l-2.75-1.25L19 1l-1.25 2.75L15 5l2.75 1.25L19 9zm-7.5.5L9 4 6.5 9.5 1 12l5.5 2.5L9 20l2.5-5.5L17 12l-5.5-2.5zM19 15l-1.25 2.75L15 19l2.75 1.25L19 23l1.25-2.75L23 19l-2.75-1.25L19 15z"></path>
          </svg>
          Ask AI
        </span>
        or
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="10" cy="10" r="7"></circle>
          <line x1="21" y1="21" x2="15" y2="15"></line>
        </svg>
        search docs
      </span>
    </button>
    {{ end -}}
    <button id="mode" class="btn btn-link order-3 order-md-3" type="button" aria-label="Toggle user interface mode">
      <span class="toggle-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
      <span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
    </button>
    <span class="vr order-4 order-md-5 ms-2 me-2"></span>
    <ul class="navbar-nav social-nav order-5 order-md-6">
      {{ range .Site.Menus.social -}}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | absURL }}">{{ .Pre | safeHTML }}<span class="ms-2 visually-hidden">{{ .Name | safeHTML }}</span></a>
        </li>
      {{ end -}}
    </ul>
    <div class="collapse navbar-collapse order-6 order-md-1">
      <ul class="navbar-nav main-nav me-auto order-7 order-md-2">
        {{- $current := . -}}
        {{ range .Site.Menus.main -}}
          <li class="nav-{{ .Identifier }} nav-item{{ if eq $current.Type .Identifier }} active{{ end }}">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
        {{ end -}}
      </ul>
      <div class="break order-8 d-md-none"></div>
    </div>
  </div>
</header>
