{{ $path := .Get "src" -}}
{{ $image := .Page.Resources.GetMatch (printf "**/%s" $path) -}}
{{ if not $image -}}
  {{ $image = .Page.Resources.GetMatch $path -}}
  {{ if not $image -}}
  	{{ errorf "[%s] no image matching %s." .Page.Path $path -}}
  {{ end -}}
{{ end -}}
{{ $lqip := $image.Resize $.Site.Params.lqipWidth -}}

<figure class="{{- .Get "class" }} text-center">
  <a href="{{ $image.Permalink }}" class="lightbox">
    <img class="img-fluid lazyload blur-up" data-sizes="auto" data-src="{{ $image.Permalink }}" src="{{ $lqip.Permalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" {{ with .Get "alt" }}alt="{{.}}"{{ end }}>
    {{ with .Get "caption" }}<figcaption class="figure-caption">{{ . | safeHTML }}</figcaption>{{ end }}
  </a>
</figure>
