{{- $files := .Inner | transform.Unmarshal -}}
{{- $labels := slice -}}
{{- range $label, $path := $files -}}
{{- $labels = $labels | append $label -}}
{{- end -}}
{{- $key := .Ordinal -}}
<div class="include-file-toggle">
  <div class="include-file-toggle-nav">
    {{- range $index, $label := $labels -}}
    {{- $active := cond (eq $index 0) "active" "" -}}
    {{- $label := replaceRE "(?:[0-9]+-)?(.*)" "$1" $label -}}
    <button data-toggle-key="{{ $key }}" data-toggle-value="{{ $label }}" class="tab-button {{ $active }}">
      {{- $label -}}
    </button>
    {{- end -}}
  </div>
  {{- $page := .Page -}}
  <div class="tab-content">
    {{- range $index, $label := $labels -}}
    {{- $active := cond (eq $index 0) "active" "" -}}
    {{- $label := replaceRE "(?:[0-9]+-)?(.*)" "$1" $label -}}
    <div data-toggle-key="{{ $key }}" data-toggle-value="{{ $label }}" class="tab-pane {{ $active }}">
      {{- $content := readFile (printf "%s%s" $page.File.Dir (index $files .)) -}}
      {{- $content | markdownify -}}
    </div>
    {{- end -}}
  </div>
</div>
