{{- $variable := .Get 0 -}}
{{- if isset .Page.Params "variables" -}}
  {{- $variable := lower $variable -}}
  {{- $variables := index .Page.Params "variables" -}}
  {{- if isset $variables $variable -}}
    {{- index $variables $variable -}}
  {{- else -}}
    {{- errorf "%s: variable %s not found in page params" .Position $variable }}
  {{- end -}}
{{- else if isset .Site.Data.variables $variable -}}
  {{- index .Site.Data.variables $variable -}}
{{- else -}}
  {{- errorf "%s: variables are not set in this hierarchy" .Position }}
{{- end -}}
