// Color system

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$yellow: #ffe000;
$black: #1d2d35;
$beige: #fbf7f0;
// $red:      #e55235;
$purple: #5d2f86;
$brown: #aa9c84;

$blue-300: #8ed6fb;
$pink-500: #d32e9d;

$primary: $purple;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $black;

// Links
//
// Style anchor elements.

$link-color: $primary;

$border-color: $gray-200;

$card-border-color: $gray-200;

