/** Theme variables */

// Source: https://material.io/design/color/dark-theme.html

$body-bg-dark: $gray-900;
$body-overlay-dark: darken($body-bg-dark, 2.5%);
$border-dark: darken($body-bg-dark, 2.5%);
$body-color-dark: $gray-300;
$dots-dark: darken($body-color-dark, 50%);

$link-color-dark: $blue-300;
$button-color-dark: $link-color-dark;
$focus-color-dark: lighten($link-color-dark, 2.5%);
$selection-color-dark: darken($link-color-dark, 50%);

$navbar-dark-color: $body-color-dark;
$navbar-dark-hover-color: $link-color-dark;
$navbar-dark-active-color: $link-color-dark;

/** Theme styles */

[data-dark-mode] body {
  background: $body-bg-dark;
  color: $body-color-dark;
}

[data-dark-mode] body a.text-body {
  color: $body-color-dark !important;
}

[data-dark-mode] body .btn-primary {
  @include button-variant($button-color-dark, $button-color-dark);

  color: $body-bg-dark !important;
}

[data-dark-mode] body .navbar {
  background: $body-bg-dark;
  opacity: 0.975;
  border-bottom: 1px solid $border-dark;
}

[data-dark-mode] body .navbar-light .navbar-brand {
  color: $navbar-dark-color !important;
}

[data-dark-mode] body .navbar-light .navbar-nav .nav-link {
  color: $navbar-dark-color;
}

[data-dark-mode] body .navbar-light .navbar-nav .nav-link:hover,
[data-dark-mode] body .navbar-light .navbar-nav .nav-link:focus {
  color: $navbar-dark-hover-color;
}

[data-dark-mode] body .navbar-light .navbar-nav .nav-link.disabled {
  color: $navbar-dark-disabled-color;
}

[data-dark-mode] body .navbar-light .navbar-nav .show > .nav-link,
[data-dark-mode] body .navbar-light .navbar-nav .active > .nav-link,
[data-dark-mode] body .navbar-light .navbar-nav .nav-link.show,
[data-dark-mode] body .navbar-light .navbar-nav .nav-link.active {
  color: $navbar-dark-active-color;
}

[data-dark-mode] body .navbar-light .navbar-text {
  color: $navbar-dark-color;
}

[data-dark-mode] body .page-links a {
  color: $body-color-dark;
}

[data-dark-mode] body .showcase-meta a {
  color: $body-color-dark;
}

[data-dark-mode] body .showcase-meta a:hover,
[data-dark-mode] body .showcase-meta a:focus {
  color: $link-color-dark;
}

[data-dark-mode] body .docs-link:hover,
[data-dark-mode] body .docs-link.active,
[data-dark-mode] body .page-links a:hover {
  text-decoration: none;
  color: $link-color-dark;
}

[data-dark-mode] body .navbar-light .navbar-text a {
  color: $navbar-dark-active-color;
}

[data-dark-mode] body .docs-links h3.sidebar-link a,
[data-dark-mode] body .page-links h3.sidebar-link a {
  color: $body-color-dark;
}

[data-dark-mode] body .navbar-light .navbar-text a:hover,
[data-dark-mode] body .navbar-light .navbar-text a:focus {
  color: $navbar-dark-active-color;
}

[data-dark-mode] body .navbar .btn-link {
  color: $navbar-dark-color;
}

[data-dark-mode] body .content .btn-link {
  color: $link-color-dark;
}

[data-dark-mode] body .content .btn-link:hover {
  color: $link-color-dark;
}

[data-dark-mode] body .navbar .btn-link:hover {
  color: $navbar-dark-hover-color;
}

[data-dark-mode] body .navbar .btn-link:active {
  color: $navbar-dark-active-color;
}

[data-dark-mode] body .form-control.is-search {
  background: $body-overlay-dark;
  color: $body-color-dark;
}

[data-dark-mode] body .navbar-form::after {
  color: $gray-700;
  border: 1px solid $body-bg-dark;
}

[data-dark-mode] body .form-control:focus {
  box-shadow: 0 0 0 0.2rem $focus-color-dark;
}

[data-dark-mode] body .border-top {
  border-top: 1px solid $border-dark !important;
}

@include media-breakpoint-up(lg) {
  [data-dark-mode] body .docs-sidebar {
    order: 0;
    border-right: 1px solid $border-dark;
  }
}

[data-dark-mode] body .docs-navigation {
  border-top: 1px solid $border-dark;
}

[data-dark-mode] body ::selection {
  background: $selection-color-dark;
}

[data-dark-mode] body pre {
  background: $body-overlay-dark;
  color: $body-color-dark;
}

[data-dark-mode] body code {
  background: $body-overlay-dark;
  color: $body-color-dark;
}
[data-dark-mode] body code .s {
  color: $blue-300;
}

[data-dark-mode] body blockquote {
  border-left: 3px solid $border-dark;
}

[data-dark-mode] body .footer {
  border-top: 1px solid $border-dark;
}

[data-dark-mode] body * {
  scrollbar-color: $body-bg-dark $body-bg-dark;
}

[data-dark-mode] body *::-webkit-scrollbar-track {
  background: $body-bg-dark;
}

[data-dark-mode] body *::-webkit-scrollbar-thumb {
  background: $body-bg-dark;
}

[data-dark-mode] body *:hover {
  scrollbar-color: $border-dark $body-bg-dark;
}

[data-dark-mode] body *:hover::-webkit-scrollbar-thumb {
  background: $border-dark;
}

[data-dark-mode] body *::-webkit-scrollbar-thumb:hover {
  background: $border-dark;
}

[data-dark-mode] body a.docs-link {
  color: $body-color-dark;
}

[data-dark-mode] body .page-links li:not(:first-child) {
  border-top: 1px dashed $border-dark;
}

[data-dark-mode] body .card {
  background: $body-bg-dark;
  border: 1px solid $border-dark;
}

[data-dark-mode] body .card.bg-light {
  background: $body-overlay-dark !important;
}

[data-dark-mode] body .navbar .menu-icon .navicon {
  background: $navbar-dark-color;
}

[data-dark-mode] body .navbar .menu-icon .navicon::before,
[data-dark-mode] body .navbar .menu-icon .navicon::after {
  background: $navbar-dark-color;
}

[data-dark-mode] body .logo-light {
  display: none !important;
}

[data-dark-mode] body .logo-dark {
  display: inline-block !important;
}

[data-dark-mode] body .bg-light {
  background: darken($body-bg-dark, 1.5%) !important;
}

[data-dark-mode] body .bg-dots {
  background-image: radial-gradient($dots-dark 15%, transparent 15%);
}

[data-dark-mode] body .text-muted {
  color: darken($body-color-dark, 7.5%) !important;
}

[data-dark-mode] body .figure-caption {
  color: $body-color-dark;
}

[data-dark-mode] body table {
  @extend .table-dark;
}

// Alerts

[data-dark-mode] body .alert a {
  font-weight: 700;
  color: inherit;
}

// body.dark .alert-primary a {
//   color: $body-bg-dark;
// }

// body.dark .alert-warning {
//   background: $body-overlay-dark;
//   color: $body-color-dark;
// }

// body.dark .alert-primary {
//   background: $link-color-dark;
//   color: $body-bg-dark;
// }
